# This .gitignore file is based on the standard GitHub Unity template

# -------------------
# Unity Generated
# -------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive
/[Mm]emoryCaptures/

# -------------------
# Asset meta data should generally be ignored when the asset is not in the project
# BUT never ignore .meta files for assets that ARE in the project.
# -------------------
# !warning: never ignore .meta files!

# -------------------
# IDE / Text Editor Specific
# -------------------
# Visual Studio / MonoDevelop
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# VS Code
.vscode/

# JetBrains Rider
.idea/

# -------------------
# OS Generated
# -------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# -------------------
# Builds
# -------------------
*.apk
*.aab
*.unitypackage
*.app